<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <table border="1">
		<tr>
			<td colspan="6" align="center"><a href="/insertUser">Insert</a></td>
		</tr>
		<tr>
			<th>UserId</th>
			<th>UserName</th>
			<th>Password</th>
			<th>Email</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		
		<tr th:each="user : ${allUsers}" >
			<td th:text="${user.userId}"></td>
			<td th:text="${user.userName}"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.email}"></td>
			<td><a th:href="@{'/updateUser?id=' + ${user.userId}}" th:text="Update">Update</a></td>
			<td><a th:href="@{'/deleteUser?id=' + ${user.userId}}" th:text="Delete">Delete</a></td>
		</tr>
	</table>
	
	
</body>
</html>
